<li id="nav_settings" class="welcome_navs" style="cursor: pointer" onclick='getPage("settings")'><a><img src='<%=asset_path('shared_icons/settings-icon.png')%>' alt='...' width='16'/></a></li>
<li id="nav_logout" class="welcome_navs" style="cursor: pointer" onclick='getPage("logout")'><a>Logout</a></li>