

<div id="left_hand_menus" class="home_page_subsection" style="float:left;width:25%;/*background-color: darkgrey;overflow: scroll;*/">
	<%=render :partial=>"users/left_hand_menu.html.erb"%>
</div>
<div id="action_zone" class="home_page_subsection" style="float:right;width:75%;background-color: white;overflow: scroll;"></div>
<script type="text/javascript">
	$('.home_page_subsection').css('height',($(window).height()-72))
</script>