

<div id="left_hand_menus" class="home_page_subsection" style="float:left;width:23%;/*background-color: darkgrey;overflow: scroll;*/">
	<%=render :partial=>"users/left_hand_menu.html.erb"%>
</div>
<div id="action_zone" class="home_page_subsection" style="float:right;width:77%;background-color: white;">
	<center style="margin-top: 5%;">
		<img src='<%=asset_path("coffee_mug.png")%>' style="width: 35%;">
		<br><br>
		<label>Welcome To HubCafe <span style="color:brown"><%=session[:current_user]["name"]%></span></label>

	</center>
</div>
<script type="text/javascript">
function show_profile(user_id)
	{
		custom_loader('cafe_timeline_contents','dna','Loading Profile');
		$.ajax({
			type: 'post',
			url: 'users/show_profile?user_id='+user_id
			})
	}
	$('.home_page_subsection').css('height',($(window).height()-72))
</script>