
<center>
<div class="form_container" style="padding:60px 25px 60px 25px;background-color: aliceblue;width: 50%;border-radius: 7px;">
<img src='<%=asset_path("add_user.png")%>' height="100" width="100" style="float:left; margin-right: -50px">
<!-- <form id="new_user_registration"> -->
<%= form_for @user,url: creation_users_path, html: { multipart: true ,method: 'post',:id=>"new_user_registration"}, remote: true, authenticity_token: true do |f| %>
<table>
<tr>
	<td><label>Name: </label></td>
	<td><label><input type="text" name="name"></label></td>
</tr>
<tr>
	<td><label>Age: </label></td>
	<td><label><input type="number" name="age"></label></td>
</tr>
<tr>
	<td><label>Email: </label></td>
	<td><label><input type="text" id="email" name="email"></label></td>
</tr>
<tr>
	<td><label>Password: </label></td>
	<td><label><input type="password" id="password" name="password"></label></td>
</tr>
<tr>
	<td><label>Confirm Password: </label></td>
	<td><label><input type="password" id="confirm_password" name="confirm_password"></label></td>
</tr>
<tr>
<td><label>Sex: </label></td>
	<td><label><input type="radio" name="sex" value="Male">Male &nbsp; <input type="radio" name="sex" value="Female">Female &nbsp; <input type="radio" name="sex" value="Other">Other</label></td>
</tr>
<tr>
	<td><label>Date of Birth: </label></td>
	<td><label><input type="date" name="date_of_birth"></label></td>
</tr>
<tr>
	<td><label>Define Yourself: </label></td>
	<td><label><textarea name="profile_def"></textarea></label></td>
</tr>
<tr>
	<td><label>Upload Profile Pic: </label></td>
	<td><label><input type="file" name="profile_img"></input></label></td>
</tr>

</table>
<div id="form_buttons" style="float: right;padding: 15px 10px 0 0px;">
	<!-- <input type="button" value="Submit" onclick="new_user();"> -->
	<%= f.submit "Save" ,:onclick=>"return validateNewUser();" ,:style=>"background: green;color: white;border-radius: 5px;padding: 5px 20px 5px 20px;font-weight: bold;"%>
	<input type="button" value="Cancel" onclick="$('#form_content').html('');$('.welcome_navs').removeClass('active');$('#default_welcome_page_content').show();" style="background: crimson;color: white;border-radius: 5px;padding: 5px 20px 5px 20px;font-weight: bold;">
	</div>
<% end %>
<!-- </form> -->
</div>
</center>

<script type="text/javascript">
	function validateNewUser()
	{
		var pass=$('#password').val();
		var confpass=$('#confirm_password').val();
		var email=$('#email').val();
		if(pass=="" || confpass=="")
		{
			alert("Please Enter Password(s)");
			return false;
		}
		if (pass!=confpass)
		{
			alert('Password and Confirmation Password are not same. Kindly enter password carefully.');
			return false;
		}
		if(email=="")
		{
			alert("Please Enter Email");
			return false;
		}
		if (validateEmail(email)==false)
		{
			alert("Invalid Email ID");
			return false;
		}
		return true;
	}
	function validateEmail(email) {
		var re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
		return re.test(String(email).toLowerCase());
	}
</script>