<%if @success==true%>
<%bg_color="green"
font_color="black"%>
<%else%>
<%bg_color="red"
font_color="white"%>
<%end%>
<div id="myModal_message" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" style="top: 10%;height: 100px;width: 400px;background: <%=bg_color%>;left: 35%;border-radius: 7px;">
		<div style="display:none;"><button type="button" class="close" id="close_message_modal" data-dismiss="modal" aria-label="Close" title="Close"> <span aria-hidden="true">×</span></button></div>
		<center><div id="message_modal_content" style="padding:30px 15px 30px 15px;font-weight: bold;<%=font_color%>"></div></center>
	</div>
<button style="display:none;" data-toggle="modal" data-target="#myModal_message" href="#"  aria-expanded="false" id="open_message_modal">Click for modal</button>
<%if !@msg.nil? && !@msg.empty?%>
<script type="text/javascript">
	$("#message_modal_content").html("<%= @msg%>")
	$("#open_message_modal").click();
	setTimeout(function() {
		$("#close_message_modal").click();	
	}, 4000);
</script>
<%end%>