<h1>New Cafe</h1>
<p>Go On...Create your Own Cafe and Enjoy Your Interactions</p>

<center>
<div class="form_container" style="padding:60px 25px 60px 25px;background-color: aliceblue;width: 50%;border-radius: 7px;">
<!-- <form id="new_cafe_create"> -->
<%= form_for @cafe,:url=>{:controller=>"cafes", :action=>"create"}, html: { multipart: true ,method: 'post',:id=>"new_user_registration"}, remote: true, authenticity_token: true do |f| %>
<table>
<tr>
	<td><label>Cafe Name: </label></td>
	<td><label><input type="text" name="name"></label></td>
</tr>
<tr>
	<td><label>Define Your Cafe: </label></td>
	<td><label><textarea name="description"></textarea></label></td>
</tr>
<tr>
	<td><label>Upload Cafe Logo: </label></td>
	<td><label><input type="file" name="cafe_logo"></input></label></td>
</tr>


</table>
	<!-- <input type="button" value="Submit" onclick="new_cafe();"> -->
	<%= f.submit "Create" %>
	<input type="button" value="Cancel" onclick="$('#list_tasks').click();">
<!-- </form> -->
<%end%>
</div>
</center>
<script type="text/javascript">
	function new_cafe()
	{
		dataForm=$('#new_cafe_create').serialize();
		$.ajax({
			type:'post',
			url:"cafes/create",
			data:dataForm
		})
	}
</script>